
@using web_demo.Entities;
@model web_demo.Entities.Teacher

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Teacher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">LastName</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Other Names</label>
                <input asp-for="OtherNames" class="form-control" />
                <span asp-validation-for="OtherNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label"> Email Adress</label>
                <input asp-for="EmailAdress" class="form-control" />
                <span asp-validation-for="EmailAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Contact Number</label>
                <input asp-for="CoontactNumber" class="form-control" />
                <span asp-validation-for="CoontactNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Schools:</label>
                <select readonly name="CurrentSchoolId">
                    @foreach (var school in ViewData["schools"] as List<School>)
                    {
                        <option name value="@school.ID">@school.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Subjects: </label>
                <select multiple name="subjectsIds[]">
                    @foreach (var subject in ViewData["subjects"] as List<Subject>)
                    {
                        <option name value="@subject.Id">@subject.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
